<div class="container mt-4">
  <h2 class="mb-3">Cuentas</h2>
  <button class="btn btn-outline-primary" (click)="abrirModal()">+ Nueva Cuenta</button>

  <table class="table table-bordered table-striped mt-3">
    <thead class="thead-light">
      <tr>
        <th *ngIf="false">ID Client</th>
        <th>Cliente</th>
        <th>Cuenta</th>
        <th>Tipo Cuenta</th>
        <th>Saldo Inicial</th>
        <th>Saldo Actual</th>
        <th>Estado</th>

        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cuentas">
        <td *ngIf="false">{{ c.cliente_Id }}</td>
        <td >{{ c.nombres_Cliente }} </td>
        <td>{{ c.numero_Cuenta }}</td>
        <td>  {{ c.tipo_Cuenta == 1 ? 'Ahorros' : (c.tipo_Cuenta == 2 ? 'Corriente' : 'Otro') }}</td>
        <td>{{ c.saldo_Inicial | currency:'PEN' }}</td>
        <td>{{ c.saldo_Actual | currency:'PEN' }}</td>
        <td>
          <span class="badge" [ngClass]="c.estado_Cuenta ? 'bg-success' : 'bg-danger'">
            {{ c.estado_Cuenta ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
          <td>

          <!-- <button class="btn btn-sm btn-outline-info"
                  data-bs-toggle="modal"
                  data-bs-target="#clienteModal"
                  (click)="abrirEdicion(c)">
            <i class="bi bi-pencil"></i>
          </button> -->


          <button *ngIf="c.estado_Cuenta"
                  class="btn btn-sm btn-outline-warning me-1"
                  (click)="darDeBaja(c)">
            <i class="bi bi-person-dash"></i>
          </button>

          <button *ngIf="!c.estado_Cuenta"
                  class="btn btn-sm btn-outline-success me-1"
                  (click)="darDeAlta(c)">
            <i class="bi bi-person-check"></i>
          </button>

          <button class="btn btn-sm btn-outline-danger"
                  (click)="eliminarCuenta(c)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-cuenta-modal
  *ngIf="mostrarModal"
  [cuentaEditar]="cuentaSeleccionada"
  (guardar)="onGuardarCuenta($event)"
  (cerrar)="mostrarModal = false">
</app-cuenta-modal>
