<div class="mi-modal-fondo">
  <div class="mi-modal-caja modal-xl">
    <div class="modal-header bg-primary text-white">
      <h5 class="modal-title">Detalle de Movimientos</h5>
      <button type="button" class="btn-close" (click)="cerrarModal()"></button>
    </div>
    <div class="modal-body">
      <div *ngIf="loading" class="text-center text-muted py-5">
        Cargando movimientos...
      </div>
      <table *ngIf="!loading" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Tipo Movimiento</th>
            <th>Fecha Registro</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of movimientos">
            <td>
              <span
                [ngClass]="{'text-success': m.tipoMovimiento === 1, 'text-danger': m.tipoMovimiento === 2}"
              >
                {{ m.tipoMovimiento === 1 ? 'Entrada' : m.tipoMovimiento === 2 ?
                'Salida' : 'N/A' }}
              </span>
            </td>
            <td>{{ m.fechaRegistro | date:'short' }}</td>

            <td>
              <span
                [ngClass]="{
      'text-success': m.tipoMovimiento === 1,
      'text-danger': m.tipoMovimiento === 2
    }"
              >
                {{ m.tipoMovimiento === 1 ? '+' : '-' }}{{ m.cantidad }}
              </span>
            </td>
          </tr>
          <tr *ngIf="movimientos.length === 0">
            <td colspan="3" class="text-center text-muted">Sin movimientos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>
